@font-face{
   font-family: "trebuchet-regular";
   src: url("/home/lazy_bird/Downloads/Fonts/trebuchet-ms-2-cufonfonts-webfont/trebuc.woff");
   font-family: "trebuchet-italic";
    src: url("/home/lazy_bird/Downloads/Fonts/trebuchet-ms-2-cufonfonts-webfont/Trebuchet-MS-Italic.woff");     
   font-family: "futura-book";
   src: url("/home/lazy_bird/Downloads/Fonts/Futura Book - converted/Futura-Book.woff");
   font-family: "futura-light";
   src: url("/home/lazy_bird/Downloads/Fonts/Futura Light - Converted/FuturaBT-Light.woff");
}

 
 body{
 font-family: "trebuchet-regular";
 margin: 1.5%;
 padding:1.5%;
 font-size:115%;
 text-align:justify;
 line-height: 170%;
 color:whitesmoke;
 
}
 body{
    background-color:black;
 }

 #logo{
 display:inline-block;
 height:10%;
 width:10%;
 margin-bottom:-1%;
 background-color: none;
 }
 #header{
margin-left:8%;
margin-top:1%;
margin-bottom:5%;
 }
 a{
 text-decoration: none;
 text-align:center;
 font-size:135%;
 margin:2%;
 padding:3%;
 color:whitesmoke;
 }
 
 a:hover{
   color:#667eea;
   text-decoration:none;
 }
 footer{
    margin:10% 10% 15% 0;
}
 #footer{
    margin-top:20%;
    margin-bottom: -3%;
 }

 #footer-name{
    display:flex;
    justify-content: space-evenly;
    font-size: 120%;
    margin-bottom: 3%;
    margin-left: 15%;
 } 
.grid-container{
    display:grid;  
    grid-template-columns: auto auto;
    grid-row-gap: auto; 
    margin-right:10%;
    font-size:110%;
    line-height: 180%;
    font-weight:lighter;
}
 .social-media{
    padding: 0;
    margin-left:30%;
 }
 .social-media img{
     display: grid;
     grid-template-columns: auto;
     width:12%;
     height: 12%;
     margin: 5%;
 }
 .grid-item img{
     display:block;
     width: 30%;
     height:30%;
 }
 #form input{
     border-radius: 3px;
     margin:2%;
     background-color: darkgrey;
     color: black;
     font-weight: bolder;
     font-family:'lexia';
     font-size:70%;
     text-decoration-line: none;
 }
 #form label{
     font-style:italic;
 }
 #button{
    font-family:'luxia';
     height:60px;
     width:80px; 
     padding:2.5%;     
     font-size:80%;
     border-radius:5px;
     background-color:#00783e;
     border-color: #00783e;
     color:whitesmoke; 
     margin-top:8%;
     margin-left:20%;
     text-align: center;
     display:flex;
     align-content: center;
 }
/* .grid-item img{
 }
 */
 #below-footer{
    margin-top:1.5%;
    margin-left: 15%;
    display:flex;
    justify-content:center;
    color: white;
    font-size:90%;
 }
 #below-footer img{
    width: 5%;
    height: 5%;
    margin-top: -1.2%!important;

 }
 #back-to-top{
   justify-content: center;
   margin-left:43%;
   margin-top:4%;
}
#back-to-top > a{
   font-size:90% !important;
   text-decoration:underline;
}
#back-to-top a:hover{
   color:#667eea;
   text-decoration:none;
}