@font-face{
    font-family: "coves";
    src: url("/home/lazy_bird/Downloads/Fonts/webfontkit-covesFont/coves_light-webfont.woff2");
    font-family: "lexia";
     src: url("/home/lazy_bird/Downloads/Fonts/webfontkit-Luxia/luxia-display-webfont.woff");
}
body{
    background-color:black;
    font-family: "lexia";
}

#logo{
    height:10%;
    width:10%;
    /*border-radius:  5px;*/
    margin-bottom:-1.5%;
    background-color: none;
    display:inline-block;
}
#header{
    margin-left:18%;
    margin-top:4%;
    margin-bottom:5%;   
}
a{
    text-decoration: none;
    text-align:center;
    margin:2%;
    padding:3%;
    font-size:145% !important;
    color:whitesmoke;
}

a:hover{
    color:#667eea;
    text-decoration:none;
}
#back-to-top{
    justify-content: center;
    margin-left:47%;
    margin-top:2.5%;
}
#back-to-top > a{
    font-size:100% !important;
    text-decoration:underline;
}
#back-to-top a:hover{
    color:#667eea;
    text-decoration:none;
}
#footer{
    margin-top:20%;
    margin-bottom: -1%;
}
#footer img{
    width: 4%;
    height: 4%;
    margin-top:-2%;
}
#footer-name{
    display:flex;
    justify-content: space-evenly;
    color: white;
    font-size: 120%;
    margin-bottom: 3%;
    margin-left: 10%;
}
#below-footer{
    color:white;
   display:flex;
   margin-top:1.5%;
   margin-left: 11%;
   justify-content:center;
   color: white;
   font-size:100%;
}
.main-title{
    visibility:visible;
    color:black;
    /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    text-align: center;
    font-weight: lighter;
    padding:0.6%;
    margin-bottom:2%;
    margin-top:2%;
    /*border-radius: 8px;*/
}
.grid-container{
    display: inline-grid;  
    grid-template-columns: auto auto;
    grid-row-gap: auto; 
}
.grid-item a{
    margin-left:0;
}
.grid-item img{
    border-radius: 5px;
    width:100%;
    height:110%;
}
.grid-item{
    margin-bottom: 10%;
}
.paragraph{
    margin-top: 5%;
    margin-left:4%;
    margin-right:4%;
}
.social-media{
    padding: 0;
    margin-left:35%;
}
.centered{
    color:white;
    display: flex;  
    align-items: flex-end;
    text-align: justify;
}
.centered{
    margin-top:0;
    padding:3%;
    line-height: 150%;
    font-size: 110%;
}
.click{
    font-size:100%;
    font-weight:lighter;
    font-style: italic;
}
.title{
    /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
    background-color:#667eea;
    color:whitesmoke;
    font-weight:lighter;
    padding:0.5%;
    font-size: 125%;
    font-weight: bold;
    text-align:center;
}