@media screen and (min-width:400px){
    #section{
        background-color:#2A0944;
        height:135vh;  
        visibility: hidden;
    }

    h1{
        display:flex;
        justify-content: center;  
        margin-top:8%;   
        color:white; 
    }
    .description{
        margin-top:3%;
        margin-left:12%;
        margin-right:12%;
        text-align: justify;
        color:white;
    }
    #article{
        padding-top:6%;
    }
    #aboutLogo{
        width:40%;
        height:40%;
        margin-left:30%;
        margin-bottom:5%;
        margin-top: 5%;
    }
}

@media screen and (min-width:600px){
    #section{
        background-color:#2A0944;
        height:100vh;  
        visibility: hidden;
    }

    h1{
        display:flex;
        justify-content: center;
    }
    #description{
        margin-top:3%;
        margin-left:12%;
        margin-right:12%;
        text-align: justify;
    }
    #titleName{
        margin-top:1% !important;
    }
    #aboutLogo{
        width:20%;
        height:20%;
        margin-left:38%;
    }
}