.about-container{
    background-color:#85BDA6;
    height:100%;
}

@media screen and (min-width:400px){
    h1{
        display:flex;
        justify-content: center;
    }
}

@media screen and (min-width:600px){
    h1{
        display:flex;
        justify-content: center;
    }
}