@font-face{
    font-family:"futura-book";
    src: url("../fonts/futura-book-converted/FuturaBT-Light.woff") format("woff");
}

@font-face{
    font-family:"trebuchet";
    src: url("../fonts/trebuchet-converted/trebuc.woff") format("woff");
}

@media screen and (min-width:300px){
    #section{
        background-color:#2A0944;
        height:115vh; 
        width:100vw; 
        visibility: hidden;
    }

    h1{
        display:flex;
        justify-content: center;  
        margin-top:8%;   
        color:white; 
        font-family:"trebuchet";
    }
    .description{
        margin-top:3%;
        margin-left:12%;
        margin-right:12%;
        text-align: justify;
        color:white;
        font-family:"futura-book";
    }
    #article{
        padding-top:6%;
    }
    #aboutLogo{
        width:40%;
        height:35%;
        margin-left:28%;
        margin-bottom:5%;
        margin-top: 5%;
    }
}

@media screen and (min-width:400px){
    #section{
        background-color:#2A0944;
        height:130vh;  
        width: 100vw;
        visibility: hidden;
    }

    h1{
        display:flex;
        justify-content: center;  
        margin-top:8%;   
        color:white; 
        font-family:"trebuchet";
    }
    .description{
        margin-top:3%;
        margin-left:12%;
        margin-right:12%;
        text-align: justify;
        color:white;
        font-family:"futura-book";
    }
    #article{
        padding-top:6%;
    }
    #aboutLogo{
        width:40%;
        height:40%;
        margin-left:30%;
        margin-bottom:5%;
        margin-top: 5%;
    }
}


@media screen and (min-width:600px){
    #section{
        background-color:#2A0944;
        height:130vh;
        width: 100vw;  
        visibility: hidden;
    }

    h1{
        display:flex;
        justify-content: center;
    }
    #description{
        margin-top:3%;
        margin-left:12%;
        margin-right:12%;
        text-align: justify;
    }
    #titleName{
        margin-top:1% !important;
    }
    #aboutLogo{
        width:20%;
        height:20%;
        margin-left:38%;
    }
}
@media screen and (min-width:800px){
    #section{
        background-color:#2A0944;
        height:130vh;  
        width: 100vw;
        visibility: hidden;
    }

    h1{
        display:flex;
        justify-content: center;  
        margin-top:8%;   
        color:white; 
        font-family:"trebuchet";
    }
    .description{
        margin-top:3%;
        margin-left:12%;
        margin-right:12%;
        text-align: justify;
        color:white;
        font-family:"futura-book";
    }
    #article{
        padding-top:6%;
    }
    #aboutLogo{
        width:40%;
        height:40%;
        margin-left:30%;
        margin-bottom:5%;
        margin-top: 5%;
    }
}
