@font-face{
    font-family:"trebuchet";
    src: url("../fonts/trebuchet-converted/trebuc.woff") format("woff");
}

body{
    margin:0;
    padding:0;
}

.btn{
    width:45%;
    height:95%;
}
.footer{
    visibility:hidden;
    font-family:"trebuchet";
}
