body{
    background-color: none  !important;
}
#home{   
   height:100vh;
   width:100vw;
   overflow-x: hidden;
}


/*  M O B I L E    V E R S I O N  */
@media screen and (min-width: 400px){    
    #home{
        background-color:#2A0944;
        overflow-x:hidden;

    }
    #title-container{
        display:flex;
        align-items: flex-end!important;
        justify-content: center !important;
        width:100%;      
        height:45%;          
    }
    #title{        
        display:inline-flex;  
        align-items:center;  
        align-content: center!important;    
        justify-content: space-evenly !important;
        height:30%;
        width:100%;        
        background-color:#2A0944;
        color:white;
        padding:2%;
        font-weight:bold;          
        font-size:270%;
        visibility:hidden;
    }
    #description{
        margin-left:38%;
        margin-right:20%;
        margin-top:-8%;
        color:white;        
        font-weight:lighter;
        visibility:hidden;
    }
    
}

/*  D E S K T O P    V E R S I O N  */
@media screen and (min-width: 800px){
    #home{
        background-color:#2A0944;
        overflow-x: hidden !important;
        overflow-y: hidden;
    }
    #title-container{
        display:flex;
        align-items: flex-end!important;
        justify-content: space-around;
        width:100%;      
        height:50%;          
    }    
    #title{
        display:inline-flex;  
        align-items:center;  
        align-content: center!important;    
        justify-content: space-around !important;
        height:25%;
        width:50%;
        background-color:#2A0944;
        color:white;
        padding:2%;
        font-weight:bold;          
        font-size:300%;
        border-radius: 0 15px 0 15px;
    }
    #description{
        margin-left:45% !important;
        /*margin-right:10% !important;*/
        margin-top:-2% !important;
        color:white;        
        font-weight:lighter;
        visibility:hidden;
    }        
};