@media screen and (min-width:400px){
    .projects-container{
        background-color:#3B185F;      
        height:110%;
        overflow-x: hidden;
    }
    #third-image{
        width:96%;
        height:100%;
        visibility: hidden;     
    }
    .project-face{
        margin:2%;
        margin-bottom: 15%;
        width:96%;
        height:50%;   
        visibility: hidden;     
    }
    .first-container{
        margin-top:8%;
    }
    .third-container{
        height:100% !important;
        margin-bottom:11%;
    }
    .title{
        color:white;
        font-style: italic;
        font-weight:lighter;
        visibility:hidden;
    }
}

@media screen and (min-width:600px){
    .projects-container{          
        background-color:#3B185F;
        height:100%;
        overflow-x: hidden;
    }
    #third-image{
        width:60%;
        height:5%;
    }
    .project-face{
        margin:2%;
        margin-left:20%;
        width:60%;
        height:4% !important;        
        margin-bottom: 10%;
    }
    .first-container{
        margin-top:3%;
    }
    .third-container{
        height:10% !important;
        margin-bottom:10%;
    }
    .title{
        color:white;
    }
}
@media screen and (min-width:800px){
    .projects-container{             
        background-color:#3B185F;
        height:100%;
        overflow-x: hidden;
    }
    #third-image{
        width:60%;
        height:5%;
    }
    .project-face{
        margin:2%;
        margin-left:20%;
        width:55%;
        height:4% !important;        
        margin-bottom: 10%;
    }
    .first-container{
        margin-top:3%;
    }
    .third-container{
        height:10% !important;
        margin-bottom:10%;
    }
}