@font-face{
    font-family:"futura-book";
    src: url("../fonts/futura-book-converted/FuturaBT-Light.woff") format("woff");
}

@font-face{
    font-family:"trebuchet";
    src: url("../fonts/trebuchet-converted/trebuc.woff") format("woff");
}

#projectsInfoContainer{
    background-color:#552586;
}
@media screen and (min-width:300px){
    .carousel{
        width:88% !important;
        height: 55% !important;
        margin-left:4%;
        margin-top:5%;
    }
      
    .projectImg{
        width:100%;
        height:50%;
        visibility:hidden;
    }
    #thirdDescription{
        padding-bottom:10% !important;        
    }    
    .projectDescription{
        margin-top:8%;
        margin-bottom:18%;
        margin-left: 8%;
        margin-right:10%;
        font-size:110%;
        color:white !important;        
        font-family:"futura-book";
    }
    .projectTitle{
        display:flex;
        justify-content: center;
        margin-left:10%;
        margin-bottom:10%;
        font-weight: lighter;
        font-style: oblique;
        font-size:185%;
        color:white;
        font-family:"trebuchet";
    }
    .Text{
        display:flex;
        justify-content:center;
        text-align: justify;        
        margin:3%;
        line-height: 160%;
    }
    .projectCaption{
        color:white;
    };
}
@media screen and (min-width:400px){
    .carousel{
        width:55% !important;
        height:25% !important;
        margin-left:5%;
        margin-top:5%;
    }
    .projectImg{
        width:90%;
        height:20%;
        visibility:hidden;
    }
    #thirdDescription{
        padding-bottom:5% !important;        
    }    
    .projectDescription{
        margin-top:8%;
        margin-bottom:18%;
        margin-left: 8%;
        margin-right:10%;
        font-size:110%;
        color:white;        
        font-family:"futura-book";
    }
    .projectTitle{
        display:flex;
        justify-content: center;
        margin-left:10%;
        margin-bottom:10%;
        font-weight: lighter;
        font-style: oblique;
        font-size:185%;
        color:white;
        font-family:"trebuchet";
    }
    .Text{
        display:flex;
        justify-content:center;
        text-align: justify;        
        margin:3%;
        line-height: 160%;
    }
    .projectCaption{
        color:black;
    };
}

@media screen and (min-width:600px){
    #minimalistLoft{
        margin-top:5%;
    }    
    .carousel{
        width:80% !important;
        height:25% !important;
        margin-left:10%;
        margin-top:3%;
    }
    .projectImg{
        width:50%;
        height:100%;
        visibility:hidden;
    }

    #thirdDescription{
        padding-bottom:13% !important;        
    }    
    .projectDescription{
        margin-top:5%;
        margin-bottom:12%;
    }
    .projectTitle{
        display:flex;
        justify-content: center;
        margin-left:17%;
    }
    .Text{
        display:flex;
        justify-content:center;
        text-align: justify;
        margin-top:3.5%;
        margin-left: 10%;
        margin-right:10%;

    }

}
@media screen and (min-width:800px){
    
    #minimalistLoft{
        margin-top:5% !important;
    }    
    .carousel{
        width:62% !important;
        height:20% !important;
        margin-left:26%;
        margin-top:3%;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: 0 !important;
      }
      
      .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: 0 !important;
      }
    .projectImg{
        width:85%;
        height:100%;
        visibility:hidden;
    }

    #thirdDescription{
        padding-bottom:2% !important;        
    }    
    .projectDescription{
        margin-top:4%;
        margin-bottom:8%;
    }
    .projectTitle{
        display:flex;
        justify-content: center;
        margin-left:5%;
        
    }
    .textContainer{
        margin-top:-6%;
    }
    .Text{
        display:flex;
        justify-content:center;
        text-align: justify;
        margin-left: 30% !important;
        margin-right: 20% !important;
    }
}