@media screen and (min-width:400px){
    .projects-container{
        /*background-color: #584D3D; BROWN*/
        background-color:#2F4B26;
        height:110%;
    }
    #third-image{
        width:96%;
        height:100%;
    }
    .project-face{
        margin:2%;
        width:96%;
        height:50%;
        border-radius: 0 15px 0 15px;
        
    }
    .first-container{
        margin-top:3%;
    }
    .third-container{
        height:100% !important;
        margin-bottom:25%;
    }
}