#projectsInfoContainer{
    background-color: #B589D6;
}
@media screen and (min-width:400px){
    .carousel{
        width:92% !important;
        height:25% !important;
        margin-left:4%;
        margin-top:5%;
    }
    .projectImg{
        width:100%;
        height:100%;
    }
    #thirdDescription{
        padding-bottom:25% !important;        
    }    
    .projectDescription{
        margin-top:8%;
        margin-bottom:18%;
        margin-left: 8%;
        margin-right:10%;
    }
    .projectTitle{
        display:flex;
        justify-content: center;
        margin-left:10%;
        margin-bottom:10%;
        font-weight: lighter;
        font-style: oblique;
        font-size:200%;
    }
    .Text{
        display:flex;
        justify-content:center;
        text-align: justify;        
        margin:3%;
        line-height: 160%;
    }
    .projectCaption{
        color:black;
    };
}

@media screen and (min-width:600px){
    #minimalistLoft{
        margin-top:5%;
    }    
    .carousel{
        width:80% !important;
        height:25% !important;
        margin-left:10%;
        margin-top:3%;
    }
    .projectImg{
        width:100%;
        height:100%;
    }

    #thirdDescription{
        padding-bottom:13% !important;        
    }    
    .projectDescription{
        margin-top:5%;
        margin-bottom:12%;
    }
    .projectTitle{
        display:flex;
        justify-content: center;
        margin-left:17%;
    }
    .Text{
        display:flex;
        justify-content:center;
        text-align: justify;
        margin-top:3.5%;
        margin-left: 10%;
        margin-right:10%;

    }

}
@media screen and (min-width:800px){
    #minimalistLoft{
        margin-top:5% !important;
    }    
    .carousel{
        width:62% !important;
        height:20% !important;
        margin-left:21%;
        margin-top:3%;
    }
    .projectImg{
        width:100%;
        height:100%;
    }

    #thirdDescription{
        padding-bottom:13% !important;        
    }    
    .projectDescription{
        margin-top:5%;
        margin-bottom:12%;
    }
    .projectTitle{
        display:flex;
        justify-content: center;
    }
    .Text{
        display:flex;
        justify-content:center;
        text-align: justify;
        margin-left: 30% !important;
        margin-right: 20% !important;
    }
}